<template>

  <div class="container map" ref="parent">

    <div class="controls">
      <div class="time-selector-container float-xs-left">
        <input value.bind="selectedTime" min="0" max="10" type="range" class="time-selector" step="1"/>
        <span class="time-selector-value">${fiveMinutesSequence[selectedTime] | hourFormat}</span>
      </div>
      <button class="fullscreen button float-xs-right" type="submit" click.delegate="fullscreen()">
        <i class="fa fa-white fa-inverse fa-arrows-alt"></i>
      </button>
      <button class="plus button float-xs-right" type="submit" click.delegate="zoomOut()">
        <i class="fa fa-white fa-inverse fa-minus"></i>
      </button>
      <button class="minus button float-xs-right" type="submit" click.delegate="zoomIn()">
        <i class="fa fa-white fa-inverse fa-plus"></i>
      </button>
      <div class="layer-selector float-xs-right" style="background-color: grey; padding:0.5rem; width: 150px;">
        <div class="layer" repeat.for="layer of layers">
          <input id="layer-${$index}" model.bind="$index" checked.bind="selectedIds" type="checkbox" />
          <label class="layer-name" for="layer-${$index}">${layer.name}</label>
        </div>
      </div>
    </div>

    <tooltip view-model.ref="tooltip"></tooltip>

    <div class="svg-container" ref="container">
      <svg ref="svg"></svg>
    </div>

  </div>

</template>
