@import 'bootstrap/scss/bootstrap-flex';
@import './time-selector';

$background-color: #191919;

html {
  width: 100%;
  height: 100%;
}

body {
  background: $background-color;
  width: 100%;
  height: 100%;
}

$navbar-inner-height: 5vh;
$navbar-height: $navbar-inner-height + $navbar-inner-height / 2;

.navbar-nav > li > a, .navbar-brand {
  height: $navbar-inner-height;
  padding-bottom: 0 !important;
  padding-top: $navbar-inner-height / 4 !important;
}

.navbar {
  min-height: $navbar-inner-height !important;
  border-radius: 0;
}

.livecams {
  height: 100vh - $navbar-height;
  display: flex;
  align-items: center;
}

.svg-container {
  width: 100%;
  height: 100%;
  svg {
    width: 100%;
    height: 100%;
  }
}

.container-page {
  padding: 0;
}

.map {
  background-color: #191919;
  padding: 0;
  height: 100vh - $navbar-height;

  &:-webkit-full-screen {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.controls {
  position: absolute;
  left: 0;
  padding: 0.5rem;
  width: 100%;

  .button {
    background-color: transparent;
    border: none;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
  }

  .station-selector {
    @media screen and (max-width: 600px) {
      width: 40%;
    }
    @media screen and (min-width: 600px) {
      width: 30%;
    }
  }

}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;

  .message {
    font-size: 2.4rem;
    color: #CCCCCC;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .icon {
    color: #CCCCCC;
    text-align: center;
    display: inline-block;
    font-size: 2.4rem;
    margin-top: 2.5rem;
  }
}

.pointer {
  cursor: pointer;
}

.station {
  width: 100%;
  height: 100%;
  border-top: solid 1px #E4E4E4;
  display: block;
  list-style: none;
  a {
    padding: 5px 5px 0 5px;
    width: 100%;
    height: 100%;
    display: block;
    color: inherit;
    text-decoration: none;
  }
  &:first-child {
    border-top: none;
  }

}

.autocompletion-container {
  background-color: white;
  width: 100%;
  position: relative;
  display: block;
}

#autocompletion {
  border: solid 1px #E4E4E4;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  display: block;
  z-index: 1;
  width: 100%;
  padding: 0;
  background-color: #fff;
  max-height: 200px;
  min-height: 0;
  li.active {
    background: #eee;
  }
}

#custom-search-input {
  margin: 20px 0 20px 0;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input {
  border: 0;
  box-shadow: none;
}

#custom-search-input button {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input button:focus {
  outline: 0;
}

#tooltip-container {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: 1px solid;
}

.tooltip-key {
  font-weight: bold;
}

.tooltip-value {
  margin-left: 20px;
  float: right;
}

.legend-wrapper {
  stroke: black;
  stroke-width: 1.5px;
  fill-opacity: 0;
}

#availability {
  width: auto;
  height: 200px;
}

.chart {
  width: 100%;
  min-height: 400px;
}

.percentageText {
  fill: #62918C;
}
