<template bindable="router">
  <nav class="navbar navbar-toggleable-xl" style="flex-direction: column">
    <ul class="navbar-nav justify-content-center align-items-center d-flex">
      <li
        repeat.for="row of router.navigation"
        class="nav-item ${row.isActive ? 'active' : ''}"
        style="margin-right: 1rem; margin-left: 1rem;"
      >
        <a class="nav-link" href.bind="row.href">
          <span class="fa fa-2x fa-${row.config.icon}"></span>
        </a>
      </li>
    </ul>
  </nav>
</template>
